.root {
  position: relative;
  padding: 12px 16px;

  font-family: inherit;
  font-size: 0.875rem;
  font-weight: 500;
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.6);

  background-color: transparent;
  border: none;
  cursor: pointer;

  &:hover {
    color: #000000;
  }
}

.active {
  color: #000000;

  &::before {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';

    height: 2px;

    background-color: #000000;
  }
}
